body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: fixed;
}
.header {
	background-color:#373939 ;
	display: flex;
	height:10vh;
	width: 100vw;
	padding:2px;
	justify-content: space-between;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:larger;
}
div>div>div{
    color:rgb(241, 238, 238);
    background-color: #279BE4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:medium;
    
}
ul {
	margin: 0;
	padding: 0;  
	display: flex;
	list-style: none;
}
li a {
	color: #d1c7c7;
	text-decoration: none;
	padding: 9px;
	border-radius: 5px;
}
li a:hover {
    background-color: #555657;
}
.container {
    width: 100%;
	height:90%;
	font-family: Arial, Helvetica, sans-serif;
	display:flex;
    justify-content: space-between;
	border: 2px solid white;
	overflow:hidden;

}
.box1 {
	background-color: #eee;
	width: 50vw;
	height: 40vh;
}
.box2 {
	background-color: #eee;
    width: 50vw;
	height: 40vh;
}
.box3 {
	background-color: #eee;
	width: 50vw;
	height: 40vh;
}
.box4 {
	background-color: #eee;
    width: 50vw;
	height: 40vh;
}
